@import 'variables';

// 14px
@mixin text-xs($weight: 400, $color: $black-100) {
  font: $weight 0.75rem $poppins;
  line-height: 1.25rem;
  color: $color;
}

@mixin text-sm($weight: 400, $color: $black-100) {
  font: $weight 0.875rem $poppins;
  line-height: 1.25rem;
  color: $color;
}

// 16px
@mixin text-base($weight: 400, $color: $black-100) {
  font: $weight 1rem $poppins;
  line-height: 1.5rem;
  color: $color;
}

// 18px
@mixin text-lg($weight: 400, $color: $black-100) {
  font: $weight 1.125rem $poppins;
  line-height: 1.75rem;
  color: $color;
}

// 20px
@mixin text-xl($weight: 400, $color: $black-100) {
  font: $weight 1.25rem $poppins;
  line-height: 1.75rem;
  color: $color;
}

// 24px
@mixin text-2xl($weight: 400, $color: $black-100) {
  font: $weight 1.5rem $poppins;
  line-height: 2rem;
  color: $color;
}

// 30px
@mixin text-3xl($weight: 400, $color: $black-100) {
  font: $weight 1.875rem $poppins;
  line-height: 2.25rem;
  color: $color;
}

// 36px
@mixin text-4xl($weight: 400, $color: $black-100) {
  font: $weight 2.25rem $poppins;
  line-height: 2.5rem;
  color: $color;
}

// 48px
@mixin text-5xl($weight: 400, $color: $black-100) {
  font: $weight 3rem $poppins;
  line-height: 1;
  color: $color;
}

// 60px
@mixin text-6xl($weight: 400, $color: $black-100) {
  font: $weight 3.75rem $poppins;
  line-height: 1;
  color: $color;
}

// 72px
@mixin text-7xl($weight: 400, $color: $black-100) {
  font: $weight 4.5rem $poppins;
  line-height: 1;
  color: $color;
}

// 96px
@mixin text-8xl($weight: 400, $color: $black-100) {
  font: $weight 6rem $poppins;
  line-height: 1.75rem;
  color: $color;
}

// 128px
@mixin text-9xl($weight: 400, $color: $black-100) {
  font: $weight 8rem $poppins;
  line-height: 1.75rem;
  color: $color;
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin center-x {
  display: flex;
  justify-content: center;
}

@mixin center-y {
  display: flex;
  align-items: center;
}
