// Colors

// Blue
$blue-100: #0098ff;
$blue-200: #03045e;

// White
$white-100: #fff;
$white-200: #f6f6f6;
$white-300: #f7f8fd;
$white-400: #f5f5f5;
$white-500: #fbfbfb;

// Gray
$gray-100: #b4b4cf;
$gray-200: #7f80ad;

// Black
$black-100: #000;

// Yellow
$yellow-100: #ffff00;

// Green
$green-100: #779341;

// Fonts
$poppins: 'Poppins', sans-serif;
